/**Basics - Across Pages**/

body, html {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin:0px;
}

ul {
  list-style-type: none;
}

h2 {
  color: black;
  font-size: 30px;
  text-align: center;
}

h3 {
  color:gray;
  font-size: 18px;
  text-align: center;
}

p {
  font-family: Calibri;
  color: black;
  font-size: 1.25em;
  line-height: 1.5;
  text-align: justify;
  text-indent: 50px;
}

b {
  text-indent: -2em;
  margin-left: 20px;
}

center {
  color: gray;
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 60px;
}

.main {
  margin-left: 7em;
  margin-right: 7em;
}

/** Header (in base file) **/
#page_header {
  background: #333;
  color: white;
}

#title_block {
  padding: 30px;
  text-align: center;
  text-decoration: none;
}

#link_title {
  color:white;
  font-size: 2.4em;
  text-align: center;
  text-decoration: none;
}

#link_title:hover {
  color: #5a5858;
}
  
#id_outline_nav_bar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-bar-values {float: right;}
.nav-bar-values a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar-values a:hover {background-color: #111;}

#id-about-open {
  border: none;
  background-color: transparent;
  color:white;
  font-size:15px;
}

#id-about-close {
  border: none;
  background-color: transparent;
  text-align: right;
}

.page_title {
  color:#000;
  font-size: 2em;
  text-align: center;
  padding: 2em;
  font-weight: bold;
}

/**I DONT KNOW. NEED TO LOOK OVER**/

.menu {
  display: none;
}

/**FINDINGS**/

.quote {
  margin: 3em;
}

/**Abstract**/

#full_pdf_viewer {
  background:#7f7f7f;
  padding:50px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  width: 80%;
}

#pdf_control {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

#pdf_viewer object {
  width: 100%;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
}

/**Side Panel**/
.side-panel {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.side-panel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-panel a:hover {
  color: #f1f1f1;
}

.side-panel .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.open {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.open:hover {
  background-color:#444;
}

.top {
  color: white;
  padding: 20px 15px

}

/*--------------Collapsible-------*/
.collapsible_button {

  font-size: 21px;
  font-weight: bold;

  padding:30px;
  display: block;
  background-color: rgb(92, 90, 87);
  color: rgb(0, 0, 0); 
  cursor: pointer;
  width: 100%; 
  border: none;
  text-align: center; 
  outline: none; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.4s;

}

.collapsible_button:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible_button.after:after {
  content: "\2212";
}


.active, .collapsible_button:hover {
  background-color: rgba(70, 68, 65, 0.988);
}

.collapsible_content {    
  padding: 0 4em; 
  display: none;
  overflow: auto;
  background-color: rgb(170, 166, 166);
  transition: max-height 0.2s ease-out; 
}

/*--------------Modal-----------------------------------*/
.button {
  padding: 1em 2em;
  border:0;
}

.button:hover {
  background:rgb(56, 54, 54)
}

/* The Modal (background) */
.modal {
  position: fixed;              
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 20% auto; /*auto;*/
  padding: 20px;
  border: 1px solid #888;
  width: 70%;  
  /*box shadow*/
}

/* The Close Button */
.closeBtn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/**Participants**/

table, th, td {
  border: 1px solid black;
}

#row_header{
  background-color:#7f7f7f;
}

.header_col:hover{
  background-color: #444;
}

body:has(#header_col_1:hover)  .col_1{
  background-color: #7f7f7f;
}

body:has(#header_col_2:hover)  .col_2{
  background-color: #7f7f7f;
}

body:has(#header_col_3:hover)  .col_3{
  background-color:#7f7f7f;
}

body:has(#header_col_4:hover)  .col_4{
  background-color: #7f7f7f;
}

body:has(#header_col_5:hover)  .col_5{
  background-color: #7f7f7f;
}

