{% extends 'base.html' %}
{% load static %}
{% block title %} Research Abstract {% endblock %}
{% block content %}
    <div id="bckg_abstract">
        <p>
            As a part of the research program, each participat was asked to write 
            a detailed Research Abstract. Eash student was instructed to find relevenat
            research material, discuss their research material extnesively, and write a 
            well thoguht out abstract that could be sent to a conference.
        </p>
        <p>
            NOT DONE!!!!
        </p>
    </div>
    <br>
    <br>
    <br>
    <div id="full_pdf_viewer" >
        <div id="pdf_viewer">
            <object 
                id="viewer"
                type="application/pdf"
                data="{% static 'NyagaEngagedREUAbstract.pdf' %}"
                width="100" height="600">
                <p>No support PDF.</p>
            </object>    
            
            <form method="POST" action="{% url 'download_pdf' 'NyagaEngagedREUAbstract.pdf' %}">
                {% csrf_token %}
                <label for="email">Enter email to Download:</label>
                <input type="email" id="email" name="email" placeholder="email@domain.com">
                <button type="submit">Download PDF</button>
            </form>
        </div>
    </div>


{% endblock %}

