{% load static %}
<!DOCTYPE html>
<html lang ="en">
    <head>
        <title> REU Design</title>   
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel ="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>         
        <!--Background Image-->

        <div class="header">
            <div class="side-panel" style="width: {{ panel_size }};">
                <a href="javascript:void(0)" class="close">x</a>
                <a href="{% url 'abstract' action=action %}">Abstract</a>
                <a href="{% url 'find'  action=action %}">Findings</a>
                <a href="{% url 'participants'  action=action %}">Participants</a>
                <a href="{% url 'doc_preview'  action=action %}">Annotated Bibliography</a>
                <a href="{% url 'references'  action=action %}">Referenes</a>
            </div>
            <button class="open">☰ Table of Contents</button>


            <a class="link_title" href="{% url 'home' %}">
                <h1>Angel's REU Project</h1>
                <h3>An opportunity to learn from research</h3>
            </a>
        </div>

        <div>
            <table>
                <!--Navigation Bar-->
                <ul id="id_outline_nav_bar">
                    <li class="nav-bar-values">
                        <a id="id_about_button" >
                            <form action="" method="POST">
                                {% csrf_token %}
                                <button id="id-about-open"type="submit" name="about-open">ABOUT</button>                                
                            </form>                        
                            <div id="simModal" class="modal" style="display: {{ display_value }};">
                                <div class="modal-content">                             
                                    <div>
                                        <ul>
                                            <li class="inside-about" style="text-align: left;">
                                                <form action="" method="POST">
                                                    {% csrf_token %}
                                                    <button id="id-about-close" type="submit" name="about-close">X</button>                                
                                                </form>
                                            </li>
                                            <li class="inside-about"><h3 class="center">ABOUT</h3></li>
                                        </ul>
                                    </div>
                                    <p>
                                        ENGagED REU was a research experience centered 
                                        around engineering education. As a part of this 
                                        program, I learned about different reseach 
                                        methods including qualitative and quantitative 
                                        work, I learned about different methods of data 
                                        analysis such as transcript coding and 
                                        qualitative data analysis, and I learned how to 
                                        convey my research findings.
                                    </p>
                                    <p>This process has allowed me to get a greater 
                                        understanding of problems within the engineering 
                                        education system and how they effect my journey. 
                                        While you could say engineering education 
                                        is nothing more than a curriculm, the research 
                                        I have come across proves that be a successful 
                                        engineer, multiple things need to be considered 
                                        such as the history of the field, the mental 
                                        health of the participants, the presence of 
                                        leadership in the field, and more.
                                    </p>
                                    <p>
                                        Special thank you to Katreena Thomas and Dr.
                                        Brooke Coley for being mentors throught this 
                                        process.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li  class="nav-bar-values">
                        <a href="https://coleyspacelab.com/" onclick="toggleFunction()">SPACE LAB</a>
                    </li>
                </ul> 
            </table>
        </div>

        <div class="page_title">
            {% block title %}{% endblock %}
        </div>

        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    
</html>


<!--Write button function, write toggle function-->

</div>
