{% extends 'base.html' %}
{% load static %} 

{% block title %} Annotated Bibliography {% endblock %}

{% block content %}

    <div id="bckg_annotate">
        <p> 
            In addition to my research, I took the initiative to complete
            an annotated bibliography of all the resouce I read and analyzed over the course of
            the research program. This included books, articles, video, and audio research materail.

            Each research material was throughly discussed with my direct advisor to ensure extensive
            analysis. My advisor also made sure that my summaries(change) meet the programs
            academic standards.
        </p>
        <p>
            Not Done
        </p>
    </div>
    <br>
    <br>
    <br>
    <div id="full_pdf_viewer" >
        <div id="pdf_viewer">
            <object 
                id="viewer"
                type="application/pdf"
                data="{% static 'NyagaEngageREUAnnotatedBiblography.pdf' %}"
                width="100" height="600">
                <p>No support PDF.</p>
            </object> 
            
            <form method="POST" action="{% url 'download_pdf' 'NyagaEngageREUAnnotatedBiblography.pdf' %}">
                {% csrf_token %}
                <label for="email">Enter email to Download:</label>
                <input type="email" name="email" placeholder="email@domain.com">
                <button type="submit">Download PDF</button>
            </form>
        </div>
    </div>
{% endblock %}

