{% extends 'base.html' %}
 
{% block title %} Research Findings {% endblock %}

{% block content %}
    <p>
        Different forms of leadership exist for Black and Latinx engineers. 
        While this group shares the experience of being marginalzed within 
        society and in the engineering, different aspects of their 
        identities created different forms of leadership for them to 
        excude. This study revealed two categories of leadership. The first 
        category is traditional leadership. This category is defined by 
        its connection to what society views makes a good leaders such as 
        charisma, being social, strength, and having extensive leadership 
        experience. This presented one archetype with the same name and 
        description as its category. The second category is non-traditional 
        leadership. This category is defined by its subtleness and 
        personalization. These individuals use traits such as observation, 
        personal connection, and introvesion to inspire others to a 
        particular goal. This category contains two archetypes: proactive 
        leadership and self-preserving leadership.
    </p>
    <div class = "collapsible">
        <form action="" method="POST" onsubmit="accButtonDisplayToViews(event)">
            {% csrf_token %}
            <button class="collapsible_button" name="trad_leader" type="submit" >
                Traditional Leader
            </button>
        </form>
        <div id="trad_content" class="collapsible_content" style="display: {{ trad_leader }};">
            <p>
                Traditional leaders are often what come to mind when you think 
                of a leader. They are outspoken and charismatic,  they naturally 
                take charge of situations, and they are at the center of a team. 
                This group of leaders is able to use the spotlight they have to 
                inspire others to succeed. Jesica showed an example of this when 
                she discussed her involvement as an undergraduate engineer. 
                She says:  
            </p>
            <!--<p><img src="images/new-jesica-quote.png" alt="Jesica Quote" class ="center"></p>-->
            <h4 class="quote">
                <i >
                    “So I ended up joining Delta [Historically Black Sorority]. And 
                    then after maybe lika a year after that I did [campus-wide 
                    sorority council] because they needed help….I did that for a 
                    little…I joined modeling board [part of college government 
                    organization]”
                </i>
            </h4>
            <p>
                Jesica’s continued interest and success in different 
                organizations proves a pattern of successful leadership. 
                Traditional leaders ability to be social and captivate an 
                audience allows them to take on numerous leadership roles and 
                continue to see success in them. However, as marginalized 
                engineers,  this group faces unique struggles. This group often 
                feels out of place in engineering. Their difference in racial 
                identity combined with their difference from the softspoken and 
                lack-of-social-skils view of engineering students makes people 
                automatically view them as out of place in the field. Gabrielle 
                shared a similar experience when discussing her experience as a 
                young professional in engineering. Gabrielle says:
            </p>
            <h4 class="quote">
                <i>
                    “...oh, you are so social. You’re so personable. Are you sure 
                    chemical engineering is the right field for you?....I felt as 
                    if my natural leadership inclination as a well as my rigid 
                    worlds that is STEM from the predominantly male, white previous 
                    ecosystem.”
                </i>
            </h4>
            <p>
                Though this archetypes is questioned for its presence in the 
                engineering field, their natural ability to inspire a group 
                towards particular goals provides them with a place in the 
                field and the opportunity to expand perspectives. 
            </p>
        </div>

        <form action="" method="POST" onsubmit="accButtonDisplayToViews(event)">
            {% csrf_token %}
            <button class="collapsible_button" name="pro_leader" type="submit" >
               Proactive Non-traditional Leader
            </button>
        </form>
        <div id="proactive_content" class="collapsible_content" style="display: {{ pro_leader }};">
            <p>
                Proactive non-traditional leaders are driven by their need 
                to solve individual goals. While they share the same drive 
                to problem solve as traditional leaders, they are not 
                equipped the same natural charisma and leadership 
                experience as traditional leaders. They simply see a 
                problem in their environment and choose to execute what’s 
                necessary to fix it. Examples of this form of leadership 
                can be seen with Dad. He says:
            </p>
            <h4 class="quote">
                <i>
                    “...there was no active [company branch of  Latinx young 
                    professional organization]....I expressed my concerns to 
                    some other cowokers here and one of them actually put me 
                    in touch with another woman who had similar thoughts…..
                    we founded [company branch of  Latinx young professional 
                    organization] and I am the current president.”
                </i>
            </h4>
            <p>
                Dad’s journey to becoming the president of his company’s 
                branch of  the Latinx young professional organization shows 
                key elements of what it takes to be a proactive 
                non-traditional leader. Dad’s interest in starting the 
                chapter was due to seeing a problem and wanting to be 
                someone who contribute to solving the situation. While Dad 
                may be inexpereienced and not contain all the traits that 
                may make him as captivating as traditional leader, his 
                drive to create the chapter allowed him to be successful, 
                shown through Dad being the sitting president of the 
                organization. These leaders also have the ability to 
                inspire others through being a role model of the goal they 
                hope to achieve. Killau relates to this experience as he 
                recalls his leadership experiences. Killau says:
            </p>
            <h4 class="quote">
                <i>
                    “I’m the kind of person that’s just like, I’d rather just 
                    get it done and do it. I think a lot of people look up to 
                    that…peiple see that and kind of put me in a position where 
                    it's like, oh, he must be a leader because he’s getting it 
                    done.”
                </i>
            </h4>
            <p>
                Killau’s ability to be a leader by example shows the power 
                of proactive non-traditioanl leadership. While Killau did 
                not mean to inspire the other members of his university 
                organization, he’s behaviour within the organization 
                encouraged others to do the same for the organization. This 
                action has the potential to create good habits that push a 
                team toward their goals.
            </p>
        </div>

        <form action="" method="POST" onsubmit="accButtonDisplayToViews(event)">
            {% csrf_token %}
            <button class="collapsible_button" name="self_leader" type="submit" >
                Self-preserving Non-traditional Leader
            </button>
        </form>
        <div id="self_content" class="collapsible_content" style="display: {{ self_leader }};">
            <p>             
                Self-preserving non-traditional leaders are defined by their 
                ability to overcome difficult circumstance while maintaining their
                identity. Due to the harsh environments that often  surround 
                this type of leader, they are able to use their unique traits to 
                find creative solutions. This involves traits such as 
                observation, active listening, and building one-on-one 
                connections. While their impact may be hard to see, they 
                nonetheless have the ability to drive people to meet goals. Jae 
                demonstrated this leadership style while going over her 
                experience in the professional engineering world. She says:  
            </p>
            <h4 class="quote">
                <i>
                    “....sometimes some of the trade contractors are definitely 
                    more abrasive and like, trying to tell you what they know, 
                    over listening to what you’re trying to tell them…they’re 
                    quick to jump down your throat or quick to try an tell you 
                    no, before getting your side of things,so I have to be able 
                    to kind of on the fly adapt to them.”
                </i>
            </h4>
            <p>
                Jae’s use of her unique personality traits allowed her to 
                inspire other people within her field. Because of the 
                preconvience notions other co-workers had of her, Jae 
                couldn’t directly inspire them to complete a goal. Instead, 
                Jae had to use skills not often associated with leadership 
                such as active listening, trust, and reassurance to build 
                her coworkers confidence in her ability and encourage 
                coworkers to meet the goals of their projects. This 
                leadership allows them to expand the perspective of some of 
                their co-workers and lead their co-workers to particular 
                goals.
            </p>
        </div>
    </div>
    <script>
        function accButtonDisplayToViews(){
            // stop form from reloading the page
            event.preventDefault();

            //Send accordian button display values to views.py
            const acc_content_sections = ['trad_content',
                                          'proactive_content',
                                          'self_content']

            //Collect all the display values of the accoridan content
            display_vals = {};
            acc_content_sections.forEach(content_id => {
                var element = document.getElementById(content_id);
                var display = getComputedStyle(element).display;
                display_vals[content_id] = display
            });

            //Send to django
            fetch('/findings/', { //some errror with the fetch!!!!
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken' : '{{ csrf_token }}'
                },
                body: JSON.stringify(display_vals)
            }).then(response => response.json())
              .then(data => console.log('Response:', data))
              .catch(error => console.log('Error:', error));
        }
    </script>
{% endblock %}








