{% extends 'base.html' %}
{% load static %}
{% block title %} Introduction {% endblock %}

{% block content %}
    <p>
        There are preconceived notions of what an engineer should be. 
        Though we are living in a growingly diverse world, engineers 
        continue to be seen as white men with a monolithic point of view. 
        This image has created an exclusive environment through 
        discouraging the participation of people of color and discouraging 
        diversity of thought. This discouragement has placed serious 
        limitations on the progression of the engineering field  due to its 
        limited perspective on problems that effect more than just the 
        predominate group in the field.
    </p>
    <p> 
        Black and Latinx engineers in leadership positions encourages 
        their success in the field and have the power to provide the field 
        with the perspective it desperately needs. While diversity of 
        students, staff, and thought are crucial to expanding the 
        perspective of the engineering field, this perspective can only be 
        provided if it is accepted by individuals in the field. Leaders 
        ability to inspire others to believe a mission or aim for a 
        particular goal equips marginalized engineering leaders with 
        the skills to provide the perspective shift that is needed in the 
        engineering field. Leadership also equips marginalized engineer 
        with the skills to reach levels of success that wouldn’t have 
        possible for other marginalized engineers. This study established 
        archetypes of leadership that allow Black and Latinx engineers to 
        suceed in the field. In this context, success is defined as the 
        academic and professional success, excluding satisfaction in the 
        field.    
    </p>

{% endblock %}

