{% extends 'base.html' %}
{% load static %}
{% block title %}  Research Participants {% endblock %}
 
{% block content %}    

    <img src="{% static 'img/part_graph.png' %}" alt="particapants graph"
    style="float:right;width:450px; padding:2em;">
    <p>
        This study focuses on the stories of five Black and/or Latinx 
        engineering students and young professionals. Their stories 
        provided ensite on the experience of Black and Latinx individuals 
        in engieering education and the professional world. Semi-structured 
        interviews lasting between 1-2 hours were conducted. Each interview 
        was audio-recorded and transcribed. Of the five participants, one 
        was a graduate student and the remaining were young professionals. 
        Two identified as men, two identified as female and one identified 
        as femme-presenting. Their majors included mechanical engineering, 
        civil engineering, chemical engineering, and industrial engineering. 
        Thematic analysis was used to identify leadership archetypes and 
        how their display of leadership allowed them to succeed in their 
        engineering discipline.
    </p>

    <table>
        <tr>
            <th>Participants</th>
            <th>Racial & Gender Identify</th>
            <th>Professional Position</th>
            <th>Engineering Discipline</th>
            <th>Leadership Archetype</th>
        </tr>
        <tr>
            <td class="col_1">Killua</td>
            <td class="col_2">Black Male</td>
            <td class="col_3">Graduate School</td>
            <td class="col_4">Mechanical</td>
            <td class="col_5">Proactive</td>
        </tr>
        <tr>
            <td class="col_1">Dad</td>
            <td class="col_2">Black/Hispanic male</td>
        </tr>            
    </table>

    <p>check the problems</p>


{% endblock %}

