<!DOCTYPE html>
<html lang ="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2><strong>Participants</strong></h2>
        <p><img src="images/part_graph.png" alt="particapants graph"
            style="float:right;width:600px">
            This study focuses on the stories of five Black and/or Latinx 
            engineering students and young professionals. Their stories 
            provided ensite on the experience of Black and Latinx individuals 
            in engieering education and the professional world. Semi-structured 
            interviews lasting between 1-2 hours were conducted. Each interview 
            was audio-recorded and transcribed. Of the five participants, one 
            was a graduate student and the remaining were young professionals. 
            Two identified as men, two identified as female and one identified 
            as femme-presenting. Their majors included mechanical engineering, 
            civil engineering, chemical engineering, and industrial engineering. 
            Thematic analysis was used to identify leadership archetypes and 
            how their display of leadership allowed them to succeed in their 
            engineering discipline.
        </p>
    </body>
</html>