{% extends 'base.html' %}
 
{% block title %} References {% endblock %}

{% block content %}
        <div class="b">
                <p> 
                        [1] McGee, E. O. (2016). Devalued Black and Latino Racial 
                        Identities: A By-Product of STEM  College Culture? American 
                        Educational Research Journal, 53(6), 1626–1662. 
                        https://doi.org/10.3102/0002831216676572 
                </p>
        </div>
        <div>
                <p> 
                        [2] Mobley, C., Brawner, C. E., Brent, R., & Orr, M. K. 
                        (2021, January 24). The centrality of Black identity for Black 
                        students in engineering. 
                        https://peer.asee.org/the-centrality-of-black-identity-for-black-students-in-engineering
                </p>
        </div>
        <div class="b">
                <p> 
                        [3] Klassen, M., Reeve, D., Evans, G. J., Rottmann, C., 
                        Sheridan, P. K., & Simpson, A. (2020). Engineering: Moving 
                        Leadership From the Periphery to the Core of an Intensely 
                        Technical Curriculum. New Directions for Student Leadership, 
                        2020(165), 113–124. https://doi.org/10.1002/yd.20373
                </p>
        </div>
        <div class="b">
                <p>
                        [4] Thomas, K., Coley, B. C., Greene, M. L., & London, J. S. 
                        (2021, January 24). ASEE PEER - Black Faces, White Spaces: 
                        Understanding the Role of Counterspaces in the Black 
                        Engineering Graduate Student Experience. 
                        https://peer.asee.org/black-faces-white-spaces-understanding-the-role-of-counterspaces-in-the-black-engineering-graduate-student-experience
                </p>
        </div>
        <div class="b">
                <p> 
                        [5] Thomas,K., (2022). American Society for Engineering 
                        Education 2022 Annual Convention- “Is this good for me?”: 
                        exploring the experiences of black engineers in leadership. 
                </p>
        </div>
{% endblock %}

